<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="builder"
         name="Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="pluginforlibgdx.builder.Builder">
         </run>
      </builder>
   </extension>
   <extension
         id="nature"
         name="Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="pluginforlibgdx.builder.Nature">
         </run>
      </runtime>
      <builder
            id="PluginForLibgdx.builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Project Nature commands"
            id="PluginForLibgdx.nature.category">
      </category>
      <command
            name="Add/RemoveProject Nature"
            defaultHandler="pluginforlibgdx.builder.AddRemoveNatureHandler"
            categoryId="PluginForLibgdx.nature.category"
            id="PluginForLibgdx.addRemoveNature">
      </command>
      <category
            name="Sample Category"
            id="PluginForLibgdx.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="PluginForLibgdx.commands.category"
            id="PluginForLibgdx.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="PluginForLibgdx.addRemoveNature"
               label="Disable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              value="PluginForLibgdx.nature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="PluginForLibgdx.addRemoveNature"
               label="Enable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <not>
                           <test
                                 value="PluginForLibgdx.nature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sample Menu"
               mnemonic="M"
               id="PluginForLibgdx.menus.sampleMenu">
            <command
                  commandId="PluginForLibgdx.commands.sampleCommand"
                  mnemonic="S"
                  id="PluginForLibgdx.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="PluginForLibgdx.toolbars.sampleToolbar">
            <command
                  commandId="PluginForLibgdx.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="PluginForLibgdx.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Navigator"
            icon="icons/sample.gif"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="hust.libgdx.support">
      </view>
      <category
            name="Libgdx support Category"
            id="PluginForLibgdx">
      </category>
      <view
            name="Libgdx support MainView"
            icon="icons/sample.gif"
            category="PluginForLibgdx"
            class="pluginforlibgdx.views.LibgdxMainView"
            id="pluginforlibgdx.views.LibgdxMainView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="hust.libgdx.support">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="hust.libgdx.support">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               relationship="stack"
               id="hust.libgdx.support">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="pluginforlibgdx.views.LibgdxMainView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="BOTTOM_RIGHT"
            adaptable="true"
            label="Resource Decorator"
            icon="icons/sample_decorator.gif"
            state="true"
            id="PluginForLibgdx.decorator">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="XML Editor"
            extensions="xml"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="pluginforlibgdx.editors.XMLEditor"
            id="pluginforlibgdx.editors.XMLEditor">
      </editor>
      <editor
            name="Multi-page Editor"
            extensions="mpe"
            icon="icons/sample.gif"
            contributorClass="pluginforlibgdx.editors.MultiPageEditorContributor"
            class="pluginforlibgdx.editors.MultiPageEditor"
            id="pluginforlibgdx.editors.MultiPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="PluginForLibgdx.commands.sampleCommand"
            class="pluginforlibgdx.handlers.Handler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="PluginForLibgdx.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="PluginForLibgdx.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Sample Action"
               icon="icons/sample.gif"
               class="pluginforlibgdx.actions.Action"
               tooltip="Hello, Eclipse world"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="pluginforlibgdx.actions.Action">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="File Import"
            id="pluginforlibgdx.importWizards.sampleCategory">
      </category>
      <wizard
            name="Import File"
            icon="icons/sample.gif"
            category="pluginforlibgdx.importWizards.sampleCategory"
            class="pluginforlibgdx.importWizards.ImportWizard"
            id="pluginforlibgdx.importWizards.ImportWizard">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Libgdx game mobile development"
            id="PluginForLibgdx">
      </category>
      <wizard
            name="Libgdx game mobile development"
            icon="icons/sample.gif"
            category="PluginForLibgdx"
            class="pluginforlibgdx.wizards.NewLibgdxProjectCreationWinzard"
            id="pluginforlibgdx.wizards.NewLibgdxProjectCreationWinzard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Release Engineering"
            icon="icons/releng_gears.gif"
            class="pluginforlibgdx.perspectives.RelEngPerspective"
            id="pluginforlibgdx.perspectives.RelEngPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="PluginForLibgdx.contribution1">
         <menu
               label="New Submenu"
               path="additions"
               id="PluginForLibgdx.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="New Action"
               class="pluginforlibgdx.popup.actions.NewAction"
               menubarPath="PluginForLibgdx.menu1/group1"
               enablesFor="1"
               id="PluginForLibgdx.newAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Sample Preferences"
            class="pluginforlibgdx.preferences.SamplePreferencePage"
            id="pluginforlibgdx.preferences.SamplePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="pluginforlibgdx.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="Sample Page"
            nameFilter="*.*"
            class="pluginforlibgdx.properties.SamplePropertyPage"
            id="pluginforlibgdx.properties.samplePropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="pluginforlibgdx.splashHandlers.InteractiveSplashHandler"
            id="pluginforlibgdx.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            splashId="pluginforlibgdx.splashHandlers.interactive"
            productId="org.eclipse.epp.package.jee.product">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="intro/sample.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
